fastapi[standard]
uvicorn
openai
pydantic
pydantic-settings
streamlit
soundfile
numpy
python-multipart
diffusers
accelerate
open3d
#celery[redis] 
#redis
aiohttp # needed for webscraping
bs4     # needed for webscraping
asyncio # needed for webscraping
lxml    # needed for webscraping
python-multipart # for creating rag
aiofiles         # for creating rag
qdrant_client    # for creating rag
pypdf            # for creating rag
tiktoken
av     # implements Python bindings to the popular ffmpeg video processing library
isort  # Sorts imports in Python modules
loguru # Replacing Python’s built-in logger module
mypy   # A powerful static type checker that can help catch a lot of bugs in your code
alembic     # db application 
sqlalchemy  # db application
psycopg[binary]    # db application
asyncpg # db application